body {
    background-color: lightgray;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: black;
}

#visor {
    width: 250px;
    height: 40px;
    font-size: 25px;
    text-align: right;
    margin-bottom: 10px;
}

/* Todos os botões */
button {
    width: 55px;
    height: 45px;
    margin: 3px;

    font-size: 20px;
    cursor: pointer;

    border: 1px solid black;
    border-radius: 5px;

    background-color: white;
}

/* Quando passar o mouse */
button:hover {
    background-color: rgb(142, 145, 146);
}

/* Quando clicar */
button:active {
    background-color: gray;
}

/* Botão de igual */
button[onclick="calcular()"] {
    background-color: green;
    color: white;
}

/* Botão de limpar */
button[onclick="limpar()"] {
    background-color: red;
    color: white;
}

img {
    height: 25px;
}




